In [84]:
book_list = [
    ['Life at Wyncode', 'Tatiana', 100, false, ],
    ['To Kill a Mockingbird', 'Harper Lee', 160, true, ],
    ['Frankenstein', 'Mary Shelley'],
    ['The Jungle', 'Upton Sinclair', nil, ],
]

[["Life at Wyncode", "Tatiana", 100, false], ["To Kill a Mockingbird", "Harper Lee", 160, true], ["Frankenstein", "Mary Shelley"], ["The Jungle", "Upton Sinclair", nil]]

In [146]:
kittycat = 'askdfjaskdjfhj'
(0...book_list.length).map do |number|
    author = book_list[number][1]
    pages = book_list[number][2]
    
    ["#{number + 1})", author, pages, kittycat]
end
    .map do |items|
        items.join(' ')
    end.each do |item|
        puts item
    end

1) Tatiana 100 askdfjaskdjfhj
2) Harper Lee 160 askdfjaskdjfhj
3) Mary Shelley  askdfjaskdjfhj
4) Upton Sinclair  askdfjaskdjfhj

["1) Tatiana 100 askdfjaskdjfhj", "2) Harper Lee 160 askdfjaskdjfhj", "3) Mary Shelley  askdfjaskdjfhj", "4) Upton Sinclair  askdfjaskdjfhj"]

In [142]:
(1..book_list.length).map do |number|
    p [number, book_list[number - 1][1], ]
end

[1, "Tatiana"]
[2, "Harper Lee"]
[3, "Mary Shelley"]
[4, "Upton Sinclair"]

[[1, "Tatiana"], [2, "Harper Lee"], [3, "Mary Shelley"], [4, "Upton Sinclair"]]

In [91]:
book_list.each {|book|
    p book[1]
}

"Tatiana"
"Harper Lee"
"Mary Shelley"
"Upton Sinclair"

[["Life at Wyncode", "Tatiana", 100, false], ["To Kill a Mockingbird", "Harper Lee", 160, true], ["Frankenstein", "Mary Shelley"], ["The Jungle", "Upton Sinclair", nil]]

In [88]:
book_list.each {|book| p book.first}

"Life at Wyncode"
"To Kill a Mockingbird"
"Frankenstein"
"The Jungle"

[["Life at Wyncode", "Tatiana", 100, false], ["To Kill a Mockingbird", "Harper Lee", 160, true], ["Frankenstein", "Mary Shelley"], ["The Jungle", "Upton Sinclair", nil]]

In [85]:
def create_book(title, author, pages, read=false)
    # returns a hash with the following keys
    # keys = [title:, author:, pages:, read:, ]
    p({
        title: title,
        author: author,
        pages: pages,
        read: read,
    })
end

:create_book

In [147]:
p.methods

[:&, :to_c, :nil?, :===, :to_s, :inspect, :to_r, :to_i, :to_a, :to_h, :rationalize, :|, :to_f, :^, :to_json, :instance_variable_set, :instance_variable_defined?, :remove_instance_variable, :instance_of?, :kind_of?, :is_a?, :tap, :instance_variable_get, :public_methods, :instance_variables, :method, :singleton_method, :define_singleton_method, :public_send, :public_method, :extend, :to_enum, :enum_for, :pp, :<=>, :=~, :!~, :eql?, :respond_to?, :freeze, :object_id, :send, :display, :hash, :class, :singleton_class, :clone, :dup, :itself, :taint, :yield_self, :untaint, :tainted?, :untrusted?, :untrust, :frozen?, :trust, :singleton_methods, :methods, :protected_methods, :private_methods, :!, :equal?, :instance_eval, :instance_exec, :==, :!=, :__id__, :__send__]